@media(min-width: 776px) {
    .navbar {
        background-color: #F2921E !important;
    }

    .navbar-nav {
        display: table;
        width: 100%;
        margin: 0;
    }

    .navbar-nav>li {
        float: none;
        display: table-cell;
        text-align: center;
    }
}

@media(min-width: 992px){
    .utfb{
        padding-top: 21px;
    }
}
@media(max-width: 1000px){
    .utfb{
        padding-top: 0px;
        padding-left: 20px !important;
    }
}